/*
margin corresponde ao espaçamento externo da caixa em que o elemento está até os cantos da página
padding correspodente ao espaçamento interno do elemento em relação à sua própria caixa
background corresponde ao fundo, no qual é possível colocar uma cor sólida única ou em gradiente

box-sizing: content box não é uma boa prática, pois ao aumentarmos uma imagem, por exemplo, ou qualquer outro elemento, o que ocorre é que
A CAIXA DE CONTEÚDO (em que o elemento está) aumenta e nao ele em si, causando possíveis distorções. O ideal é utilizar box-sizing:
border-box
*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
#menu {
    display: flex;
    /*Selecionar o layout flexbox 
    list-style: none;
    /*Tirar as bolinhas de cada item da lista
    padding: 25px;
    justify-content: center;
    margin-bottom: 25px;
}
*/


#menu a {
    color: white;
    /* Aplicar uma cor à fonte */
    font-family: 'Julius Sans One', sans-serif;
    /* Aplicar uma fonte */
    font-size: 15px;
    /* Aumentar o tamanho da fonte */
    text-decoration: none;
    /* Tirar o sublinhado do link */
    flex-direction: row;
    /* Alinhar um ao lado do outro */
    margin: 19px;
    /* Atribuir uma margin a cada item */
    text-transform: uppercase;
}

/* Quando passar o mouse */
#menu a:hover {
    color: rgb(126, 203, 255);
}

header {
    background: rgb(4, 0, 131);
    background: linear-gradient(90deg, rgba(4, 0, 131, 1) 0%, rgba(0, 0, 0, 1) 66%);
    padding-bottom: 15px;
}

.apresentacao {
    display: flex;
}

h1,
span {
    font-size: 23px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 170%;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
}

.right {
    flex: 4;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.left {
    flex: 6;
    text-align: center;
}

.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
}

.btnContact {
    background: rgba(7, 26, 107, 1);
    color: white;
    margin-top: 30px;
}

.btnContact:hover {
    background: rgb(89, 17, 224);
    color: white;
}

body {
    background-color: black;
}

.containerServicos {
    background: rgb(1, 0, 39);
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: -8px;
}

.itemServico1,
.itemServico3,
.itemServico6,
.itemServico8 {
    border: 1px solid rgba(7, 26, 107, 1);
    border-radius: 5px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 20%;

}

.itemServico2,
.itemServico4,
.itemServico5,
.itemServico7 {
    border: 1px solid rgb(0, 47, 255);
    border-radius: 5px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 20%;
}


.containerServicos img {
    width: 60px;
}

.itemServico1:hover,
.itemServico3:hover,
.itemServico6:hover,
.itemServico8:hover {
    border: 1px solid rgb(68, 0, 255);
    background: rgb(14, 0, 94);
    cursor: pointer;
}

.itemServico2:hover,
.itemServico4:hover,
.itemServico5:hover,
.itemServico7:hover {
    border: 1px solid rgb(68, 0, 255);
    background: rgb(15, 0, 114);
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background: rgb(0, 12, 68);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: white;
}

.containerSobreMim {
    display: flex;
    background-color: rgb(1, 0, 39);
    padding-bottom: 50px;
    margin-top: -8px;
}

.containerSobreMim .left {
    color: white;
    margin-right: 190px;
    margin-left: 120px;
    flex: 7;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    line-height: 30px;
}

.containerSobreMim .right {
    flex: 3;
    margin-top: 30px;
    line-height: 30px;
}

.right {
    color: white;
}

.socialMedia {
    display: flex;
}

.socialMedia img {
    width: 30px;
}

.left h2 {
    margin-bottom: 10px;
}

.socialMedia p {
    margin-left: 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    color: white;
}

.socialMedia a {
    text-decoration: none;
}

.socialMedia p:hover {
    color: blue;
}

#contato {
   background: rgb(0, 0, 14);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}

form {
    font-size: 16px;
    max-width: 500px;
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 50px;
    padding-bottom: 10px;
}

input,
textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

.displayContato {
    display: flex;
}

form h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mensagem {
    margin-left: 60px;

}

textarea {
    resize: none;
    width: 350px;
    height: 120px;
}

.mensagem input {
    width: 170px;
    font-size: 16px;
    background: rgba(7, 26, 107, 1);
    color: white;
    cursor: pointer;
    font-family: 'Julius Sans One', sans-serif;
    border: black;

}

.mensagem input:hover {
    background: rgb(89, 17, 224);
}

.mapa {
    margin-left: 90px;
}

iframe {
    border-radius: 5px;
    margin-top: -30px;
}

.navColor {
    justify-content: center;
    background: rgb(4, 0, 131);
    background: linear-gradient(90deg, rgba(4, 0, 131, 1) 0%, rgba(0, 0, 0, 1) 66%);
}

.container-fluid {
    background: rgb(4, 0, 131);
    background: linear-gradient(90deg, rgba(4, 0, 131, 1) 0%, rgba(0, 0, 0, 1) 66%);
    margin-top: -8px;
    margin-bottom: -8px;
}

.navbar-toggler {
    border: 1px solid transparent;
    margin: 7px;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (max-width: 480px) {
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .left img {
        margin-bottom: 14px;
    }

    .right {
        text-align: center;
    }
}



